<h1 class="h2">Usuários Cadastrados</h1>
  <br>
  
  <div class="table-responsive">
    <table class="table table-striped table-sm">
      <thead>
        <tr>
          <th>ID</th>
          <th>Nome</th>
          <th>Sobrenome</th>
          <th>Email</th>
          <th>CEP</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of users">
          <td>1</td>
          <td>{{ user.name }}</td>
          <td>Rodrigues</td>
          <td>{{ user.email }}</td>
          <td>089876565</td>
        </tr>
      </tbody>
    </table>
  </div>
