      <div class="sidebar-sticky">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link active" [routerLink]="['/']">
              <span data-feather="home"></span>
              Home <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/register']">
              <span data-feather="file"></span>
              Cadastro
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/users']">
              <span data-feather="shopping-cart"></span>
              Usuários
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/suport']">
              <span data-feather="users"></span>
              Suporte
            </a>
          </li>
        </ul>

        