<div>
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
    <h1 class="h2">Home</h1>
    <div class="btn-toolbar mb-2 mb-md-0">
      <div class="btn-group mr-2">
        <button class="btn btn-sm btn-outline-secondary">Compartilhar</button>
        <button class="btn btn-sm btn-outline-secondary">Exportar</button>
      </div>
      <button class="btn btn-sm btn-outline-secondary dropdown-toggle">
        <span data-feather="calendar"></span>
        Semanal
      </button>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="card1"> <a href="/register">
        <div class="card text-white bg-primary mb-3" style ="max-width: 18rem;"> 
          <div class="card-header">BUZINARI</div>
          <div class="card-body">
            <h5 class="card-title">Cadastrar Usuários</h5>
            <p class="card-text">Clique aqui para cadastrar um usuário</p>
          </div>
        </div>
        </a>
      </div>

      <div class="card2"> <a href="/users">
        <div class="card text-white bg-success mb-3" style ="max-width: 18rem;">
          <div class="card-header">BUZINARI</div>
          <div class="card-body">
            <h5 class="card-title">Pesquisar Usuários</h5>
            <p class="card-text">Clique aqui para pesquisar os usuários</p>
          </div>
        </div>
        </a>
      </div> 

      <div class="card2">
          <div class="card text-white bg-warning mb-3" style ="max-width: 18rem;">
            <div class="card-header">BUZINARI</div>
            <div class="card-body">
              <h5 class="card-title">Contato</h5>
              <p class="card-text">Clique aqui para falar conosco imediatamente</p>
            </div>
          </div>
        </div>
    </div>
  </div>

  
</div>
